@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-sarif;
    color: #641454;
  }


  .padding{
    padding-bottom:2rem;
  }
  
  .navbar {
    padding: .8rem;
    
  }

  h1{
    color:#641454;
    text-align: center;
  }

  /* Carousel */
  .carousel-inner img{
    width: 100%;
    height: 100%;
  }


  .card.main{
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    color: #641454;
  }

  h5.card-title{
    text-align: left;
  }
  
  /* Navbar 1*/
  
  .navbar-nav li{
    padding-right: 20px;
  }
  
  .navbar-brand, .nav-link, .navbar-nav, .ml-auto{
    color: #f2aaa7;
  }
  
  .nav-link{
    font-size: 1.1em !important;
  }
  
  .navbar-custom {
    background-color: #641454;
  }

  /* .navbar.second{
    background-color: rgb(255, 255, 255);
  } */

  hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  
  hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }

  /* 2nd Navbar */

  .title{
    font-size: 5rem;
    text-align: center;
  }

  /* 1st Section Founders */

  /* {
    margin: 0 auto; 
    color: #641454;
    width: 18rem; 
    height: 18rem;
    text-align: center;
    
  } */
.card{
  color: #641454;
}
.card.second{
  border: none !important;
  margin: 0 auto;
}


.container.top{
  background-image: url("img/business.jpg");
}
  /* Footer */
  
.label{
  background-color: #641454;
} 
footer{
  background-color: #641454;
  color: #f2aaa7;
  padding-top: 2rem;
}

footer a{
  color: #d5d5d5;
}


  /*---Media Queries --*/
@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption{
    top: 45%;
  }
  
  .carousel-caption h2{
    font-size: 100%;
    padding: 1em;
    text-shadow: 1px 1px 15spx #000;
  }
  
  .carousel-caption h1{
    font-size: 200%;
  }
  .carousel-caption h3{
    font-size: 100%;
    font-weight: 400;
    padding-bottom: .1rem;
  } 
  
  
}
@media (max-width: 576px) {
  
}