@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* Colours : A #f2aaa7 M #ec0404 O ##c41b34 O #641454*/

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-sarif;
    color: #641454;
  }

  section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
  }

  .red{
    background: #ec0404;
  }

  .pink{
    background-color: #f2aaa7;;
  }

  .purple{
    background-color: #641454;
  }

  .dpink{
    background-color: #c41b34;
  }


  .bubble::after{
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #ec0404;
    z-index: -1;
  }

  /* Top curve purple for Founders */

  .custom-shape-divider-top-1658364333 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1658364333 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1658364333 .shape-fill {
    fill: #FFFFFF;
}

  .custom-shape-divider-bottom-1658356513 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658356513 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 192px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1658356513 .shape-fill {
    fill: #ffffff;
}

/* Blob moving */
.flip{
  transform: rotate(180deg);
}

/* .layer2{
  background-image: url('./layer2.svg');
} */

.blob-motion{
  position: absolute;
  transform: translateY(-20%);
}
  
  .curve{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
  }

  .curve::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    height: 100%;
    width: 55%;
    background-color:  #ec0404;
    transform: translate(85%, 60%);
    z-index: -1;
  }
  .curve::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    height: 100%;
    width: 55%;
    background-color: #ec0404; 
    transform: translate(-4%, 40%);
    z-index: -1;
  }

  .padding{
    padding-bottom:2rem;
  } 
  
  .navbar {
    padding: .8rem;
    
  }

  section h1{
    color:white;
    text-align: center;
  }

  /* .circle {
    height: auto;
    width: 50%;
    background-color: #555;
    border-radius: 50%;
  } */

  .carousel-inner img{
    width: 100%;
    height: 100%;
  }

  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }

 

  .card.main{
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    color: #641454;
    left: 0;
  }

  h5.card-title{
    text-align: left;
  }
*/
  
  .navbar-nav li{
    padding-right: 20px;
  }
  
  .navbar-brand, .nav-link, .navbar-nav, .ml-auto{
    color: #f2aaa7;
  }
  
  .nav-link{
    font-size: 1.1em !important;
  }
  
  .navbar-custom {
    background-color: #641454;
  }


  hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  
  hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }

ul {
    display: inline;
    float: left;
}

  :root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    padding: 0px;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    /* d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z"); */
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #641454;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #641454;
  }

  
  .card__description {
    padding: 0 2em 2em;
    font-size: 0.8em!important;
    padding-bottom: 10em;
    margin: 0;
    color: #641454;
    /* font-family: "MockFlowFont";    */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    

    

 
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }



  .title{
    font-size: 5rem;
    text-align: center;
    color: white;
  }

  .grant{
    padding: 5em;
    margin: left;
    background-color: #d5d5d5;
  }

.card{
  color: #641454;
}
.card.second{
  border: none !important;
  /* margin: 0 auto; */
  text-align: center;
}

.custom-shape-divider-top-1658442082 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1658442082 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 500px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1658442082 .shape-fill {
  fill: #FFFFFF;
}

.wp-table tr:nth-child(odd) {
  background-color: #fff;
}

.wp-table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.wp-table tr {
  border-bottom: 1px solid #ddd;
}

.wp-table th:first-child, 
.wp-table td:first-child {
  padding-left: 16px;
}


.wp-table td, 
.wp-table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: center;
  vertical-align: top;
}

.wp-table th {
  font-weight: bold;
  font-size: 30px!important;;
}

.wp-table {
  font-size: 20px!important;
  /* border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0; */
  width: 100%;
  display: table;
}

.res-circle {
  /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 20%;
  border-radius: 50%;

  /* (B) BACKGROUND COLOR */ 
  background: #ffffff;
  margin: 0 auto;
  
  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  line-height: 0;
  position: relative;
}
  
/* (D) MATCH HEIGHT */
.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
  
/* (E) TEXT BLOCK */
.circle-txt {
  /* (E1) CENTER TEXT IN CIRCLE */
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  
  /* (E2) THE FONT - NOT REALLY IMPORTANT */
  font-family: arial, sans-serif;
  font-weight: bold;
}

/*
.container.top{
  background-image: url("img/business.jpg");
}

  
.label{
  background-color: #641454;
} 

*/



#cir.card {
  border: 1px solid #ddd;
  border-radius: 6px;
  max-width: 350px;
  text-align: center;
  background-color: #ec0404;
  /* margin-top: 60px; */
}
.card_img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  margin: -0px auto 0;
}
.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_info {
  padding-bottom: 20px;
}

/* Investor Overview */
.page-contain {
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  padding-top: 10em;
  margin-top: 10em;
  font-family: "Open Sans", sans-serif;
}

.data-card {
  /* display: flex; */
  flex-direction: column;
  width: 30em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}
.data-card h3 {
  color: #ec0404;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #ec0404;
  transition: color 0.45s ease, border 0.45s ease;
}
.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color 0.45s ease;
}
.data-card p {
  opacity: 0;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
}
.data-card .link-text {
  display: block;
  color: #ec0404;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color 0.45s ease;
}
.data-card .link-text svg {
  margin-left: 0.5em;
  transition: transform 0.6s ease;
}
.data-card .link-text svg path {
  transition: fill 0.45s ease;
}
.data-card:hover {
  background:#ec0404;
  transform: scale(1.02);
}
.data-card:hover h3 {
  color: #ffffff;
  border-bottom-color: #641454;
}
.data-card:hover h4 {
  color: #ffffff;
}
.data-card:hover p {
  opacity: 1;
  transform: none;
}
.data-card:hover .link-text {
  color: #ffffff;
}
.data-card:hover .link-text svg {
  -webkit-animation: point 1.25s infinite alternate;
          animation: point 1.25s infinite alternate;
}
.data-card:hover .link-text svg path {
  fill: #ffffff;
}

@-webkit-keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}
/* ---------------- Investor Communities ------------------- */

.com{
  display: flex;
  flex-direction: row!important;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #10182f;
  padding-top: 10em;
  padding-bottom: 10em;
}
.card.fo {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

/* ----------------Investor Focus Groups-------------------- */


:root {

  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}


.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
  font-weight: var(--weight1);
  

}


/* .box p {
 
} */

.box.c{
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px;
  padding: 30px;
  margin: 20px;  
}

img .f {
  float: left;
} 

.foc{
  padding-top: 10em;
  padding-bottom: 10em;
}

@media (max-width: 450px) {
  .box {
      height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 180px;
  }
}

h2 {
  font-weight: var(--weight3);
}


@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 20%;
   
  }

}

/* -------Red waves bottom of investors---- */

.custom-shape-divider-bottom-1658600763 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658600763 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1658600763 .shape-fill {
  fill: #FFFFFF;
}

/* ----Footer---- */

footer{
  background-color:#641454;
  color: #f2aaa7;
  padding-top: 2rem;
}

footer a{
  color: #d5d5d5;
} 


  /*---Media Queries --*/
@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption{
    top: 45%;
  }
  
  .carousel-caption h2{
    font-size: 100%;
    padding: 1em;
    text-shadow: 1px 1px 15spx #000;
  }
  
  .carousel-caption h1{
    font-size: 200%;
  }
  .carousel-caption h3{
    font-size: 100%;
    font-weight: 400;
    padding-bottom: .1rem;
  } 
  
  
}
@media (max-width: 576px) {
  
}